html {
    height: 100vh;
}

body {
    color: #111;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 1.625;
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    padding: 0;
    margin: .5rem 0;
    /* 1rem 0; /* 1rem; */
    height: calc(100vh - (2 * 0.5rem));

    overflow-x: hidden;
}

main { min-width: 320px; position: relative; }

label { margin-bottom: 0; }

button:disabled { cursor: not-allowed; }

#source { width: 100%; height: 30vh; border: 1px solid lightgrey; padding: 1rem; color: var(--primary); background-color: whitesmoke; }
div.table-responsive { height: 45vh; border: 1px solid lightgrey;}
/* You have 25vh for vertical paddins, margins, buttons, title, etc. */

#result { width: 100%; }
#result td.is-green { border-left: 2px solid green; }
#result td.is-red { border-left: 2px solid red; }

div.btns-container input { display: none; }
div.btns-container > button.btn > span,
div.btns-container label.btn > span { font-weight: 900; }

/*
==========================================================================
PRE-LOADING wheelS, for header of GADGETS
    * till boolean switching acts
    * or spacific tag is loaded and ready to see/use 
==========================================================================
*/
:root {
    --cor_1: hsl(345, 85%, 34%); /* #a10d31; */
    --cor_2: hsl(39, 20%, 61%); /* #B0A288; */
}

.has-loading-wheel { position: relative; }

div.headers-preloader {
    position: absolute;
    top: 0; left: 0;

    width: 100%;

    /* height SHOULD be defined for each */

    z-index: 2001;
 
    /* background-color SHOULD be defined for each */
    background-color: rgba(0, 0, 0, 0.05);

    /* background-image: url('/includes/images/headers_preloader.gif'); */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: contain; /*cover;*/

    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-wheel {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 10px;

    border: 5px solid rgba(255, 0, 0, 0.8); /* #ababab; /* #efefef; /* rgba(255, 255, 255, .8); */

    transform: translateZ(0);

    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}


/* -------------------------------------------------
                CUSTOMIZE FOR EACH
     'headers-preloader' gadget throughout the App
    ------------------------------------------------
    Class them, or 'Id' them, or their CONTAINERs,
    and define HERE best HEIGHHT, COLORing, etc., etc.
 */
div.headers-preloader {
    height: 100%;

    background-color: var(--cor_2);
    opacity: 0.8;

    display: none;
}
.loading-wheel {
    border-top-width: 3px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-color:  var(--cor_1);
    /* --------------------------------- */
    border-left-color: transparent;
    /* ---------------------------------*/
}

.is-inside-bs-container { margin-left: 15px; width: calc(100% - 2 * 15px) !important; }

/* ========================================================================== */

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

